body {
  font-size: 18px;
}

.hidden {
  display: none;
}

#title {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

button {
  border-radius: 6px;
}

#container {
  width: 512px;
  height: 480px;
  margin: 0 auto;
  background-color: #000;
  position: relative;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#start,
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  color: #fff;
}

#start:hover {
  cursor: pointer;
  color: #66ccff;
}

dot {
  display: inline-block;
  height: 1em;
  line-height: 1;
  text-align: left;
  vertical-align: -.25em;
  overflow: hidden;
}

dot::before {
  display: block;
  content: '...\A..\A.';
  white-space: pre-wrap;
  /* 也可以是white-space: pre */
  animation: dot 3s infinite step-start both;
}

@keyframes dot {
  33% {
    transform: translateY(-2em);
  }

  66% {
    transform: translateY(-1em);
  }
}

#fps {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #fff;
  text-shadow: 0 0 1px #000;
}

#cvs {
  position: absolute;
  top: 0;
  left: 0;
}

#options {
  padding: 10px 5px;
  width: 600px;
  font-size: 14px;
  border-style: none;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0 0 1px currentColor;
}

input[type="button"],
input[type="text"],
label,
select {
  margin: 0 10px;
  opacity: 0.6;
}

input[type="button"]:hover,
input[type="text"]:focus,
label:hover,
select:hover {
  opacity: 1;
}

input[disabled] {
  opacity: 1 !important;
  cursor: not-allowed;
  pointer-events: none;
}

#save-data {
  width: 600px;
  box-shadow: 0 0 1px currentColor;
  border-style: none;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 5px;
  font-size: 14px;
}

#save-image {
  width: 48px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 0 1px currentColor;
  overflow: hidden;
}

#save-data-message {
  margin: 10px;
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
}

#save-image image {
  width: 100%;
  height: 100%;
}

#save-data-controls {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

#remove,
#save,
#load {
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

#remove:hover,
#save:hover,
#load:hover {
  opacity: 1;
}

#remove {
  background-color: #f05a46;
}

#save {
  background-color: #66ccff;
}

#load {
  background-color: #43b244;
}

#cheat-code {
  width: 600px;
  box-sizing: border-box;
  box-shadow: 0 0 1px currentColor;
  border-style: none;
  margin: 10px auto;
  padding: 10px 5px;
  font-size: 14px;
}

input#ipt-name,
input#ipt-code {
  margin: 0 10px;
  width: 120px;
}

#add-cheat {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#cheat-list {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 0 1px currentColor;
}

#cheat-list:empty {
  display: none;
}

.cheat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.list-cheat-delete {
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
}

.list-cheat-delete:hover {
  opacity: 1;
}

.list-cheat-code {
  width: 180px;
}

.list-cheat-name {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}